# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
**/node_modules/

# Build outputs
**/dist/
**/dist-ssr/
**/*.local

# Rust / Tauri
**/src-tauri/target/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.sw?
*.swp
.DS_Store

# Installers
*.exe
*.msi

# Secrets
.env
.env.local
.env.*.local
